

<div class="p-5 mb-4 bg-warning rounded-3 center">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold  text-dark" ><%= t('welcome.Bienvenido a Repartiendo') %></h1>
    <p class="col-md-8 fs-4 text-secondary"><%= t('welcome.Haz tus pedidos aqui') %></p>
    <%= link_to "Comenzar", articles_path, class: "btn btn-light btn-lg text-dark" %>
  </div>
</div>

<%= link_to 'Alpha_blog', articles_path %> | <%= link_to 'About', pages_about_path %>

<%= link_to image_tag('profileimage.png'), 'www.mashrurhossain.com' %>